<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.andycao.workflow.fanyi</string>
	<key>connections</key>
	<dict>
		<key>1631A077-1B5D-40B9-BA54-A7160FFB09A2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>538BC847-ECC4-4529-A51E-750C9C05E056</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>48DDEC75-02CF-47CB-BC6B-9EB9DF2B763E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A9B30C1-E4EB-4C8C-BF19-9614286A3BA9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>538BC847-ECC4-4529-A51E-750C9C05E056</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A9B30C1-E4EB-4C8C-BF19-9614286A3BA9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5DC5460B-FF65-41F7-9BAD-A7621E29FF6D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0EA4B4E1-3C4E-40DC-8F82-96C2D2A09E28</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3F17D477-B861-46A7-BEAA-0D279D0D9BC3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8A9B30C1-E4EB-4C8C-BF19-9614286A3BA9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>99DE03FA-36F7-4FA3-A7F0-34A5BBDF73F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EEA3A7FE-E67D-432A-BAA2-13C8AB6B17A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>95CBF499-0A8F-40E6-B3B6-F848794D6158</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>002BB093-8EC6-4F4E-88BE-DE83BA2E0804</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>99DE03FA-36F7-4FA3-A7F0-34A5BBDF73F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>096F0353-75AA-4395-A004-13A1A62EB312</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5DC5460B-FF65-41F7-9BAD-A7621E29FF6D</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EEA3A7FE-E67D-432A-BAA2-13C8AB6B17A9</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>002BB093-8EC6-4F4E-88BE-DE83BA2E0804</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>Fanyi</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	set qq to quoted form of q
	set search_word to (do shell script "echo " &amp; qq &amp; " | cut -d '$' -f1")
	do shell script "open 'http://dict.youdao.com/search?q=" &amp; search_word &amp; "'"
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>CCB0A066-EB5C-46A8-88C0-96FB15A979F3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://fanyi.baidu.com/#en/zh/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>ACAAFBF5-AAEF-4862-9FC6-0782CE3D90F4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>64</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F17</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>48DDEC75-02CF-47CB-BC6B-9EB9DF2B763E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://translate.google.com/#view=home&amp;op=translate&amp;sl=en&amp;tl=zh-CN&amp;text={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0EA4B4E1-3C4E-40DC-8F82-96C2D2A09E28</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>096F0353-75AA-4395-A004-13A1A62EB312</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>fy</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node -r dotenv/config ./src/translate.js "$1"

</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Input what you want to fanyi</string>
				<key>title</key>
				<string>Fan yi</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>99DE03FA-36F7-4FA3-A7F0-34A5BBDF73F5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.google.com/search?tbm=isch&amp;q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3F17D477-B861-46A7-BEAA-0D279D0D9BC3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>5DC5460B-FF65-41F7-9BAD-A7621E29FF6D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>-1</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>double tap</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1631A077-1B5D-40B9-BA54-A7160FFB09A2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>8A9B30C1-E4EB-4C8C-BF19-9614286A3BA9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"

word="{query}"
actor="Daniel"

echo -n $word | say $1 -v $actor

# sleep 1s

# echo -n $word | say $1 -v $actor</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EEA3A7FE-E67D-432A-BAA2-13C8AB6B17A9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://cn.bing.com/images/search?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7C7D10C0-37F5-4E35-8131-5549383F797B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>projectPath</key>
					<string>/Users/andycao/Workspace/Vodafone/DX/dx-ss-mobile</string>
					<key>test1</key>
					<string>var1</string>
					<key>test2</key>
					<string>var2</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>538BC847-ECC4-4529-A51E-750C9C05E056</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node ./src/pronounce.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>002BB093-8EC6-4F4E-88BE-DE83BA2E0804</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>31</integer>
				<key>hotmod</key>
				<integer>786432</integer>
				<key>hotstring</key>
				<string>O</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>95CBF499-0A8F-40E6-B3B6-F848794D6158</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>002BB093-8EC6-4F4E-88BE-DE83BA2E0804</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>在线发音</string>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>960</integer>
		</dict>
		<key>096F0353-75AA-4395-A004-13A1A62EB312</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>0EA4B4E1-3C4E-40DC-8F82-96C2D2A09E28</key>
		<dict>
			<key>note</key>
			<string>Google Translate</string>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>1631A077-1B5D-40B9-BA54-A7160FFB09A2</key>
		<dict>
			<key>note</key>
			<string>Double click control key to search selected word use Youdao translation API
双击 control 按键查询选中的单词（可在任何软件和系统下使用）</string>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>605</integer>
		</dict>
		<key>3F17D477-B861-46A7-BEAA-0D279D0D9BC3</key>
		<dict>
			<key>note</key>
			<string>Open google image search</string>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>48DDEC75-02CF-47CB-BC6B-9EB9DF2B763E</key>
		<dict>
			<key>note</key>
			<string>Double click control key to search selected word use Youdao translation API
双击 control 按键查询选中的单词（可在任何软件和系统下使用）</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>538BC847-ECC4-4529-A51E-750C9C05E056</key>
		<dict>
			<key>xpos</key>
			<integer>175</integer>
			<key>ypos</key>
			<integer>735</integer>
		</dict>
		<key>5DC5460B-FF65-41F7-9BAD-A7621E29FF6D</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>7C7D10C0-37F5-4E35-8131-5549383F797B</key>
		<dict>
			<key>note</key>
			<string>打开bing图片搜索</string>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>725</integer>
		</dict>
		<key>8A9B30C1-E4EB-4C8C-BF19-9614286A3BA9</key>
		<dict>
			<key>xpos</key>
			<integer>195</integer>
			<key>ypos</key>
			<integer>625</integer>
		</dict>
		<key>95CBF499-0A8F-40E6-B3B6-F848794D6158</key>
		<dict>
			<key>note</key>
			<string>tap the shortcut to read selected word in Google Chrome by youdao api
调用 youdao 在线语音库，读选中的单词</string>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>960</integer>
		</dict>
		<key>99DE03FA-36F7-4FA3-A7F0-34A5BBDF73F5</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>485</integer>
		</dict>
		<key>ACAAFBF5-AAEF-4862-9FC6-0782CE3D90F4</key>
		<dict>
			<key>note</key>
			<string>打开百度翻译页面</string>
			<key>xpos</key>
			<integer>765</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>CCB0A066-EB5C-46A8-88C0-96FB15A979F3</key>
		<dict>
			<key>note</key>
			<string>Open youdao page
打开有道翻译页面</string>
			<key>xpos</key>
			<integer>765</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>EEA3A7FE-E67D-432A-BAA2-13C8AB6B17A9</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>本地发音</string>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.5</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
